@import "styles/base.scss";

.signup {
    margin-top: 31px; 
    .form {
        margin-bottom: 95px;
        display:flex;
        flex-direction: row;
        .form-section{ 
            height: 300px;
            margin-right:60px;
            .label {
                display: block;
                font-weight: 600;
                font-size: 30px;
                padding-top: 47px;
                text-align: left;
            }
            input {
                color: #fff;
                font-size: 20px;
                width: 378px;
                height: 55px;
                background: none;
                border: none;
                border-bottom: 1px solid #fff;
                &::placeholder {
                    color: #fff;
                }
            } 
        }
    }
    .submit {
        text-align: center;
        padding-bottom: 75px;
        button {
            font-weight: 500;
            font-size: 30px;
            width: 507px;
            height: 90px;
            color: #000;
            background: linear-gradient(
                322.12deg,
                #fffba6 17.56%,
                #ffffff 45.37%,
                #fffba6 68.9%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .signup{
        margin-top: 15vh; 
        .form {
            margin-bottom: 60px;  
            flex-direction: column;
            justify-content:center;
            align-items: center;
            width:100vw;
            .form-section{    
                height: auto;
                margin-right:0;
                .label {  
                    font-size: 16px;  
                    padding-top: 30px;  
                }
                input {  
                    font-size: 23px;
                    width: 65vw;
                    height: 40px;       
                    &::placeholder { 
                        font-size: 15px;
                    }
                } 
            }
        }
        .submit {  
            button { 
                font-size: 22px;
                width: 55vw;
                height: 55px;      
            }
        }
    }
}