@import "styles/base.scss";

.page-template {
    color: #ffffff;
    width: 100%;
    min-width: 1200px;
    background: linear-gradient(180deg, #5600c4 0%, #c000c4 100%);
    header {
        width: 1200px;
    }
    main {
        display: flex;
        justify-content: center;
        width: 1200px;
        min-height: 100vh;
    }
}
