@import "styles/base.scss";

.my {
    margin-top: 31px;
    .ongoing-tab {
        width: 987px;
        margin: 0 auto;
        text-align: right;
        margin-top: 93px;
        margin-bottom: 60px;
        button {
            margin-left: 25px;
            font-family: Roboto;
            color: #fff;
            padding: 15px 33px;
            font-size: 24px;
            background: rgba(255, 255, 255, 0.01);
            border: 2px solid #ffffff;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 42.5px;
        }
        .active {
            color: #000;
            font-weight: 500;
            border: none;
            background: linear-gradient(
                151.32deg,
                #fbf567 11.86%,
                #ffffff 52.08%,
                #fbf567 87.56%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .empty-vote{
        margin-top:80px;
        margin-bottom:40px;
        display:block;
        font-size: 24px;
    }
    .secession {
        margin-top: 98px;
        padding-bottom: 76px;
        font-size: 18px;
        button {
            background: none;
            color: inherit;
            margin-top: 18px;
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-color: #fff;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my{
        
        margin-top: 15vh; 
        .ongoing-tab {
            width: 80vw; 
            text-align: center;
            margin-top: 50px;
            margin-bottom: 40px;
            button {
                margin-left: 25px;   
                padding: 9px 18px;
                font-size: 17px;  
                border-radius: 25px;
                &:first-child {
                    margin-left:0;
                }       
            } 
        }
        .empty-vote{ 
            margin: 5vh auto;   
        }
        .secession {
            margin-top: 10vh;
            padding-bottom: 0;
            font-size: 15px;
            button { 
                margin-top: 10px; 
            }
        }
    }
}