@import "styles/base.scss";

.my {
    margin-top: 31px;
    .MuiTabs-flexContainer{
        margin-top:50px; 
        button{
            font-weight: 600;
            font-size:18px;
        }
    }
    .ongoing-tab {
        width: 987px;
        margin: 0 auto;
        text-align: right;
        margin-top: 50px;
        margin-bottom: 60px;
        button {
            margin-left: 25px;
            font-family: Roboto;
            color: #fff;
            padding: 15px 33px;
            font-size: 24px;
            background: rgba(255, 255, 255, 0.01);
            border: 2px solid #ffffff;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 42.5px;
        }
        .active {
            color: #000;
            font-weight: 500;
            border: none;
            background: linear-gradient(
                151.32deg,
                #fbf567 11.86%,
                #ffffff 52.08%,
                #fbf567 87.56%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
    .empty-vote{
        margin-top:80px;
        margin-bottom:40px;
        display:block;
        font-size: 24px;
    }
    .member-info{ 
        margin-top:40px;
        text-align: center;
        span{ 
            display:inline-block;
            width:180px;
            font-size:20px;
        }
        input { 
            padding: 0;
            margin-top: 25px;
            margin-right:20px; 
            width:180px;
            height: 40px;
            color: #fff;
            font-size: 20px; 
            background: none;
            border: none;
            border-bottom: 1px solid #fff;
            &::placeholder {
                color: #fff;
            }
        } 
        button{  
            margin-bottom:3px;
            width: 90px;
            height: 41px; 
            font-weight: bold;
            font-size: 15px; 
            color: #fff;
            background: rgba(255, 255, 255, 0.01); 
            border: 2px solid #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 15px; 
            &:last-child{margin:0;}
        }    
        &.password{  
            button{
                margin-top:40px;
            } 
        }
    }
    .secession {
        margin-top: 98px;
        padding-bottom: 76px;
        font-size: 18px;
        button {
            background: none;
            color: inherit;
            margin-top: 18px;
            text-decoration: underline;
            text-underline-position: under;
            text-decoration-color: #fff;
        }
    }
}

@media screen and (max-width: $mobile-width){
    .my{ 
        margin-top: 15vh;  
        .MuiTabs-flexContainer{
            margin-top:50px; 
            button{
                font-weight: 600;
                font-size:14px;
            }
        }
        .ongoing-tab {
            width: 80vw; 
            text-align: center;
            margin-top: 50px;
            margin-bottom: 40px;
            button {
                margin-left: 25px;   
                padding: 9px 18px;
                font-size: 17px;  
                border-radius: 25px;
                &:first-child {
                    margin-left:0;
                }       
            } 
        }

        .empty-vote{ 
            margin: 5vh auto;   
        }
        .member-info{ 
            margin-top:80px; 
            span{  
                width:24vw;
                font-size:17px; 
            }
            .password{
                span{
                    font-size:15px;
                    width: 37vw;
                    text-align: right;
                    margin-right:20px;
                }
            }
            input {  
                margin-top: 0px;
                margin-right:20px; 
                width:35vw;
                height: 40px;    
            } 
            button{  
                margin-bottom:3px;
                width: 20vw;
                height: 41px;  
                font-size: 15px;   
            }    
            
            &.password{
                button{
                    margin-top:50px;
                }
            }
        }
        .secession {
            margin-top: 10vh;
            padding-bottom: 0;
            font-size: 15px;
            button { 
                margin-top: 10px; 
            }
        }
    }
}