@import url("https://fonts.googleapis.com/css2?family=Exo&display=swap");

$mobile-width: 767px;

body {
    font-family: "Exo", sans-serif;
    button {
        font-family: "Exo", sans-serif;
    }
}

