@import "styles/base.scss";

.header {
    width: 100%;
    line-height: 40px;
    display:flex;
    justify-content: space-between;
    .brand-name {
        padding-left: 75px;
        padding-top: 60px;
        font-weight: bold;
        font-size: 30px;
    }
    .menu {
        padding-top: 65px;
        padding-right: 75px;
        font-size: 20px; 
        font-weight: normal;
        & > div {
            margin-left: 28px;
        }
        .active {
            font-weight: bold;
            border-bottom: 1px solid #fff;
        }
        button{  
            background:inherit;
            font-size: 20px;
            color:#fff;
        }
    }
}


@media screen and (max-width:$mobile-width){
    .header{
        position: fixed;
        background: #5500c4ad;
        height: 70px;
        line-height: 30px; 
        .brand-name{
            font-size:28px; 
            padding-left: 28px;
            padding-top: 20px;
        }
        .menu{
            padding-top: 23px;
            padding-right: 20px;  
            font-size: 14px; 
            & > div {
                margin-left: 18px;
            }
        }
    }
}