@import "styles/base.scss";

.voteline { 
    .edit-name{ 
        font-size: 30px;  
        border:none;
        cursor: pointer;
        border-radius: 5px;
        &:hover{
            background: rgba(0,0,0,0.15);
            transition: 0.3s;
        }
    }
    .ongoing {
        width: 680px;
        font-size: 30px; 
        &:last-child {
            margin-bottom: 15px;
        }
        .count {
            width: 100px;
            display: inline-block;
            font-weight: bold;
            .star {
                margin-right: 2.23px;
                color: #fbf567;
                text-shadow: 0px 0px 10px #fbf567;
                transform: matrix(1, 0, -0.01, 1, 0, 0);
            }
            &.left {
                text-align: left;
            }
            &.right {
                text-align: right;
            }
        }
        .name {
            vertical-align: bottom;
            margin: 0 4px;
            width: 180px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            display: inline-block;
            font-weight: 900;
        }
        .vs {
            font-weight: 900;
            font-size: 40px;
        }
        .gauge {
            margin-top: 30px;
            width: inherit;
            div {
                height: 29px;
                background: #fff;
                display: inline-block;
            }
            .gauge-win {
                background: linear-gradient(
                    91.89deg,
                    #fbf568 16.49%,
                    #ffffff 33.37%,
                    #fbf568 58.67%,
                    #ffffff 75.62%,
                    #fbf568 88.34%,
                    #fbf568 88.34%
                );
            }
        }
    }
    .complete { 
        width: 851px;
        height: 101px;
        padding: 11px 0;
        border-bottom: 1px solid #fff;

        .luna {
            display: flex;
            flex-direction: row;
            width: 400px;
            .badge {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 79px;
                height: 79px;
                text-align: center;
                background: rgba(0, 0, 0, 0.1);
                border: 2px solid #ffffff;
                box-sizing: border-box;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                border-radius: 25px;
                img {
                    width: 42px;
                    height: 42px;
                }
                span {
                    margin-top: -3px;
                    display: block;
                    font-weight: 600;
                    font-size: 20px;
                }
            }

            .info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                .name {
                    font-weight: bold;
                    font-size: 30px;
                }
                .count {
                    font-weight: 300;
                    font-size: 15px;
                    .star {
                        color: #fbf567;
                        text-shadow: 0px 0px 10px #ffffff;
                    }
                }
            }
        }
        .left {
            justify-content: flex-start;
            text-align: left;
            .badge {
                margin-right: 16px;
            }
        }
        .right {
            justify-content: flex-end;
            text-align: right;
            .badge {
                margin-left: 16px;
            }
        }
        .vs {
            font-weight: 500;
            font-size: 40px;
        }
    } 
    
    &.my-voteline{
        .ongoing{
            width:880px;
        }
    }
}


@media screen and (max-width:$mobile-width){ 
    .voteline {    
        .name{ 
            font-size: 18px; 
        }
        .ongoing {
            width: 91vw;
            font-size: 18px; 
            &:last-child {
                margin-bottom: 10px;
            }
            .count {
                height: 30px;
                line-height: 30px;
                width: 15vw;  
                max-width:70px;
                .star {
                    margin-right: 3px;  
                } 
            }
            .name {  
                height: 30px;
                line-height: 30px;
                width: 20vw;   
            }
            .vs {  
                height: 30px;
                line-height: 30px;
                font-size: 25px;
            }
            .gauge {
                margin-top: 10px; 
                div {
                    height: 22px;  
                }
                
            }
        }
            
        .complete { 
            width: 91vw; 
            height: 70px;   
            margin-bottom:20px;
            .luna {   
                width: 36vw;
                .badge {  
                    width: 45px;
                    height: 45px;     
                    border-radius: 15px;
                    img {
                        width: 20px;
                        height: 20px;
                    }
                    span {
                        margin-top: -5px;  
                        font-size: 14px;
                    }
                }

                .info { 
                    .name { 
                        font-size: 16px;
                    } 
                }
            }
            .left { 
                .badge {
                    margin-right: 14px;
                }
            }
            .right { 
                .badge {
                    margin-left: 14px;
                }
            }
            .vs { 
                font-weight: 500;
                font-size: 24px;
            }
        } 
        
        &.my-voteline{
            .ongoing{
                width: 91vw;
                max-width: 500px;
            }
        }
    }
}