@import "styles/base.scss";


.vote-card{  
    margin-bottom:80px;
    .vote-card-title{  
        margin-bottom: 20px;
        background: rgba(0,0,0,0.1);
        text-align: center; 
        height: 45px;
        line-height: 45px;
        font-weight: 600;
        font-size:22px; 
        border-radius: 30px; 
        border: 1px solid #fff;
    }
    .vote-card-contents{ 
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        .vs {
            display: inline-block;
            margin: 0 12px;
            font-weight: 900;
            font-size: 30px;
        }
    }
    &.hot{   
        .vote-card-title{  
            margin:0 auto;
            margin-bottom:20px;
            width:800px; 
            height: 65px;
            line-height: 65px;
            font-size:30px; 
            border-radius: 35px; 
        }
        .vote-card-contents{ 
            .vs { 
                margin: 0 59px; 
                font-size: 45px;
            }
        }
    }
}

@media screen and (max-width:$mobile-width){
    .vote-card{ 
        margin-bottom:50px;
        .vote-card-title{   
            margin-bottom:12px;
            width: 90vw;  
            max-width:500px;
            height: 35px;
            line-height: 35px; 
            font-size:20px;  
        }
        .vote-card-contents{  
            .vs { 
                margin: 0 8px; 
                font-size: 20px;
            }
        }
        &.hot{   
            .vote-card-title{    
                margin-bottom:12px;
                width: 90vw; 
                max-width:500px;
                height: 35px;
                line-height: 35px; 
                font-size:20px;   
            }
            .vote-card-contents{ 
                .vs { 
                    margin: 0 8px; 
                    font-size: 20px;
                }
            }
        }
    }
}