@import "styles/base.scss";

.login {
    margin-top: 31px;
    .form {
        margin-bottom: 84px;
        input {
            padding: 0;
            margin-top: 35px;
            color: #fff;
            font-size: 20px;
            width: 378px;
            height: 55px;
            background: none;
            border: none;
            border-bottom: 1px solid #fff;
            &::placeholder {
                color: #fff;
            }
        }
    }
    .submit {
        text-align: center;
        button {
            font-weight: 500;
            font-size: 30px;
            width: 379px;
            height: 90px;
            color: #000;
            background: linear-gradient(
                322.12deg,
                #fffba6 17.56%,
                #ffffff 45.37%,
                #fffba6 68.9%
            );
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
        }
    }

    .join {
        margin-top: 98px;
        padding-bottom: 76px;
        font-size: 18px;
        a {
            display: inline-block;
            margin-top: 18px;

            text-decoration: underline;
            text-underline-position: under;
        }
    }
}

@media screen and (max-width: $mobile-width){ 
    .login {
        margin-top: 15vh;
        .form {
            margin-bottom: 55px;
            input { 
                margin-top: 35px; 
                font-size: 23px;
                width: 65vw;
                height: 40px;    
                &::placeholder {
                    font-size: 15px;
                }
            }
        }
        .submit { 
            button { 
                font-size: 21px;
                width: 55vw;
                height: 50px;    
            }
        }
        .join {
            margin-top: 55px;
            padding-bottom: 0;
            font-size: 16px;
            a { 
                margin-top: 10px; 
            }
        }
    }
}